<header>
  <div class="container">
    <%= link_to "big3_calendar", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "home", root_path %></li>
      </ul>
    </nav>
  </div>
</header>